BEGIN:GESTURE_DATA
APPERCEIVE_DIAL:0
APPERCEIVE_NOTIFICATION:0
APPERCEIVE_SLIENT:0
APPERCEIVE_IMAGE:0
APPERCEIVE_AUTO_ANSWER:0
APPERCEIVE_ADJUST_SPEAKER:0
APPERCEIVE_SCREEN_CAPTURE:1
APPERCEIVE_DOUBLE_CLICK:0
APPERCEIVE_MULTI_TOUCH_CAMERA:0
APPERCEIVE_PREVENT_MISOPERATION:1
APPERCEIVE_VOLUME:0
APPERCEIVE_CAMERA_ENABLE:
APPERCEIVE_FLASHLIGHT_ENABLE:
APPERCEIVE_MUSIC_ENABLE:
APPERCEIVE_DOUBLE_PRESS_HOME:0
END:GESTURE_DATA
BEGIN:WIFI_DATA
WIFI_ON:1
SLEEP_POLICY:2
NOTIFICATION_ON:1
END:WIFI_DATA
BEGIN:RINGTONE_DATA
RINGTONE_CALL_URI:content://media/external/audio/media/66793
RINGTONE_CALL_FILE:null
RINGTONE_CALL_URI_SIM2:content://media/external/file/184307
RINGTONE_CALL_FILE_SIM2:/storage/emulated/0/ThemeStore/ring/毕业季_65122639.mp3
RINGTONE_MES_URI:content://media/internal/audio/media/7
RINGTONE_MES_FILE:/system/media/audio/notifications/notification_001.ogg
RINGTONE_MES_URI_SIM2:content://media/internal/audio/media/8
RINGTONE_MES_FILE_SIM2:/system/media/audio/notifications/notification_009.ogg
RINGTONE_MESSAGE_URI:content://media/internal/audio/media/7
RINGTONE_MESSAGE_FILE:/system/media/audio/notifications/notification_001.ogg
END:RINGTONE_DATA
BEGIN:SOUND_DATA
VIBRATE_WHEN_RINGING:0
DTMF_TONE_WHEN_DIALING:0
SOUND_EFFECTS_ENABLED:0
LOCKSCREEN_SOUNDS_ENABLED:1
HAPTIC_FEEDBACK_ENABLED:0
PROPERTY_POWERON:1
SLIENT_MODE:2
STREAM_RING:16
STREAM_MUSIC:8
STREAM_SYSTEM:16
END:SOUND_DATA
BEGIN:DISPLAY_DATA
SCREEN_BRIGHTNESS_MODE:0
SCREEN_BRIGHTNESS:126
SCREEN_OFF_TIMEOUT:180000
ACCELEROMETER:0
HIDE_ROTATION_LOCK:0
DISPLAY_POWER_PERCENT:0
OPPO_PLMN_DISPLAY_TYPE:0
BUTTON_LIGHT_MODE:3
BUTTON_LIGHT_TIMEOUT:6000
SCREENSAVER_ENABLED:0
END:DISPLAY_DATA
BEGIN:COMMON_DATA
MOBILE_DATA_ENABLE:false
SYNC_AUTO:false
BACKUP_ENABLE:false
RESTORE_AUTO:true
POWER_SAVE_MODE:0
POWER_SAVE_REMIND:0
AUTO_TIME:1
AUTO_ZONE:1
HOUR_FORMAT:true
DATE_FORMAT:
GPS_ENABLE:false
NETWORK_ENABLE:false
INPUT_METHOD:com.sohu.inputmethod.sogouoem/.SogouIME
ENABLE_METHOD:com.sohu.inputmethod.sogouoem/.SogouIME
SHOW_PASSWORD:0
NOTICE_SWITCH_STATE:1
NOTICE_WACKLOCK_STATE:0
END:COMMON_DATA
